        
        
    <nav class="navbar navbar-light navbar-bk" style="padding: 15px;">
        <div class="container">
            
    
                <a class="navbar-brand text-white col-6" href="/">
                    <div width="30" height="24" class="d-inline-block align-text-top">
                        📘
                    </div>
                   <b>
                    NoteKitApp
                   </b> 
                </a>
            
            <% if (false) { %>        
                <a class="text-white col-2" href="/v1/api/auth/logout">
                    Log Out
                </a>
            <% } %>

        </div>
    </nav>

    <% if (false) { %>    
        <div class="container-fluid  text-white text-center" style="background-color: #333324;" >
            You're logged from,        
        
                    ricardito@mgai.com
        </div>
    <% } %>