<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<div class="container-fluid"  >
    

    <div class="container" >

        <div class="display-6 p-5" style="color: #1B1A17;" >
            Have you ever been fustrated learning English?
        </div>

        <div class="row">
            <img src="./assets/img/pngfindprayingman.png" width="80%" height="400px" alt="" srcset="" class="col-sm-4 col-12">

            <div class="col-12 col-sm-8"  style="color: #1B1A17;">
               
                <p class="fw-light fs-6 fs-4 fst-italic mt-3 mt-sm-0 col-sm-12">
                    If you are putting all efforts and you don't watch any result, don't feel terrible.
                    May be you need support! Like you other foreigns have faces the same situation and that why
                    tools as NoteKitApp come to help you. 
                </p>

                <blockquote class="fst-italic">
                    “Stay away from those people who try to disparage your ambitions. Small minds will always do that, but great minds will give you a feeling that you can become great too.” — Mark Twain
                </blockquote>
 
                <a href="/login" class="btn button bg-white m-4 p-2"  style="border-color: #1B1A17;">
                    🧘‍♀️ Start now !
                </a>
                
            </div>
        </div>


    </div>



</div>    

<%- include('../partials/footer') %>

